<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>getUUID.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6FC39B381D8E7F6E000126A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FC39B511D8E7F6E000126A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FC39B5C1D8E7F6E000126A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
